body {
    font-family: 'Poppins',
        sans-serif;
}

.box {
    position: absolute;
    width: 1250px;
    height: 646px;
    left: 140px;
    top: 50px;
    background: #161616;
    border-radius: 30px;
}

h1 {
    margin-top: 30%;
    font-size: 60px;
    line-height: 120%;
}

p {
    font-size: 16px;
}

.style-1 {
    color: white;
    width: 50%;
    position: absolute;
    width: 461px;
    height: 313px;
    right: 800px;
    top: 63px;
}

img {
    height: 613px;

}

.style-2 {
    position: absolute;
    height: 700px;
    width: 801px;
    left: 750px;
    top: 83px;
    border-radius: 0px;
}

.button {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: black;
    background-color: burlywood;

}

.sec-1 {
    display: flex;
    justify-content: center;
}



.box-2 {
    text-decoration: none;
    color: white;
}

.style-3 {
    display: grid;
    text-align: center;
    grid-gap: 30px;
    margin-right: 20px;

}

.button-1 {
    background-color: burlywood;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    padding: 15px 60px;

}

a:hover {
    background-color: crimson;
}

.box-black {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 140px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
}

.sec-2 {
    margin-top: 15%;
    margin-left: 25px;
}


.info {

    margin-left: 35%;
    margin-top: 20px;
    text-decoration: none;
    color: #161616;
}


.video img {
    height: 250px;
    margin-top: 14.5%;
    margin-left: 32.33%;
    border-radius: 5px;
}

.fa-star.filled {
    color: rgb(157, 155, 151)
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;


}

.sec-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 23%;
    margin-right: 50px;

}

.sec-3 {
    margin-top: 51%;
}

.dark {
    position: absolute;
    width: 1600px;
    height: 754px;
    left: 0px;
    top: 2300px;

    background: #161616;
}

hr {
    width: 80%;
    height: 0%;
    color: burlywood;
}

.end {
    color: blanchedalmond;
    text-align: center;
    margin-top: 350px;
}

.goal {
    margin-top: 40px;
    display: flex;
    text-align: center;
    gap: 50px;
    justify-content: center;
    color: white;

}

.icon {
    display: flex;
    justify-content: center;
    font-size: 50px;
    gap: 5%;
    margin-top: 50px;
}